.fullScreen{
  position: relative;
}
.fullScreen::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: red;
  z-index: -1;
}

.fullScreen:hover.fullScreen::after{
  z-index: 1;
}